/* 
declaration block:
*/

header{
    display:block;
}

body{
    text-align: center;
    background-color: bisque;
    color: black;
}


footer{
    text-align: center;
    margin-right: auto;
}
