/* 
declaration block:

selector{
    property: value;
    property2: value;
}
*/
body{
    text-align: center;
    background-color: bisque;
    color: black;
}


footer{
    text-align: center;
    margin-right: auto;
}
